- index_title
- content_layout :none

= render partial: 'filter_bar'

- unless current_page? '/'
  = render partial: 'mods_filters_list'

.mods-index
  = render partial: 'mod_card', collection: @mods, as: :mod
  = paginate @mods
