- title "Mods by #{@author.name}"

%h1 Mods by #{@author.name}

%p
  Haven't gotten to properly do this page yet, so here is a quick list of mods by this author:

%ul
  - @author.mods.each do |mod|
    %li= link_to mod.name, mod
