- title "#{@name} profile"

%h2 Mods by #{@name}

Haven't gotten to properly do this page yet, so here is a quick list of mods by this author:

%ul
  - @mods.each do |mod|
    %li= link_to mod.name, mod
