.mods.show .content
  padding: 0

.mods-show
  .mod
    h3
      font-weight: bold
      +font-x-larger

    &-image
      +span(4 of 12 no-gutter)
      @extend %pretty-border
      &-img
        max-width: 100%
        display: block

    //-- Info container --//
    &-info-container
      +span(8 omega of 12 wide)
      padding: space()

    &-title
      +font-xx-larger
      font-weight: bold

    &-subtitle
      &-edit-link
        float: right

      .tag
        margin-right: space()
        white-space: nowrap

    &-data
      width: 100%
      li
        width: 50%
        float: left
        &.wide
          width: 100%
          .data-name
            +span(2 of 8)
          .data-value
            +span(6 omega of 8)
        .data-name
          font-weight: bold
          +span(4 of 8)
          &:after
            content: ':'
        .data-value
          +span(4 omega of 8)

    .btn-download
      float: right
      margin-top: rhythm(1, $font-x-larger)
      > a
        +font-x-larger


    //-- Downloads table --//
    &-downloads
      +span(full)
      // +push(2 of 12)
      // +span(8 of 12 wide)
      padding: space()
      &-table
        width: 100%
        thead th
          font-weight: bold
        tbody tr
          border-top: rgba($color-black, 0.1) solid 1px
          line-height: $base-line-height - 1px

    &-forum
      +span(full)
      h3
        padding: 0 space($font-x-larger)
      &-iframe-cover
        overflow: hidden
      &-iframe
        display: block
        margin-top: -160px
        width: 100%
        height: 1600px