---
http_interactions:
- request:
    method: get
    uri: http://imgur.com/5xnCbtj
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\">\n<html
        lang=\"en\" xmlns=\"http://www.w3.org/1999/xhtml\">\n<head>\n    <title>            \n
        \   \n    \n    Imgur</title>\n    <meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\"
        />\n        <meta name=\"robots\" content=\"index,nofollow\" />\n    <meta
        name=\"keywords\" content=\"images, funny, image host, image sharing, reaction
        gif, viral images, current events, cute, visual storytelling, gif\" />\n    <meta
        name=\"description\" content=\"The Internet's visual storytelling community.
        Explore, share, and discuss the best visual stories the Internet has to offer.\"
        />\n    <meta name=\"copyright\" content=\"Copyright 2015 Imgur, Inc.\" />\n
        \   <meta http-equiv=\"X-UA-Compatible\" content=\"IE=Edge;\" />\n    \n    <link
        rel=\"alternate\" type=\"application/rss+xml\" title=\"Imgur Gallery\" href=\"http://feeds.feedburner.com/ImgurGallery?format=xml\"
        />\n    <link rel=\"icon\" type=\"image/png\" href=\"//s.imgur.com/images/favicon-32x32.png\"
        sizes=\"32x32\">\n    <link rel=\"icon\" type=\"image/png\" href=\"//s.imgur.com/images/favicon-96x96.png\"
        sizes=\"96x96\">\n    <link rel=\"icon\" type=\"image/png\" href=\"//s.imgur.com/images/favicon-16x16.png\"
        sizes=\"16x16\">\n    <link rel=\"apple-touch-icon-precomposed\" href=\"//s.imgur.com/images/favicon-152.png\">\n
        \   <meta name=\"msapplication-TileColor\" content=\"#2cd6[...]
