development:
  adapter: postgresql
  encoding: unicode
  database: factorio_mods_development
  pool: 5
  username: factorio_mods
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: factorio_mods_test
  pool: 5
  username: factorio_mods
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: factorio_mods_production
  pool: 5
  username: factorio_mods
  password:

# Use these for SQlite

default_sqlite: &default_sqlite
  adapter: sqlite3
  pool: 5
  timeout: 5000

sqlite_development:
  <<: *default_sqlite
  database: db/development.sqlite3

sqlite_test:
  <<: *default_sqlite
  database: db/test.sqlite3

sqlite_old_prod:
  <<: *default_sqlite
  database: db/production.sqlite3
