- title t 'title.static.how_to_install'

%h2 How to install mods

%h3
  %abbr(title="Too Long; Didn't Read") TL;DR;
%ol
  %li Download the mod appropiate for your Factorio version from here or directly from the forum
  %li Copy/cut the zipped folder
  %li Paste to the &lt;Factorio folder&gt;/data folder

%h3 Long version
It's gonna have screenshots! Hopefully <span title="But what year? MUAHAHAHAHA">before the end of the year</span>.

%h3 Mod manager
<span title="It's gonna have blackjack and hookers!">It's on my TODO list!</span>