- title t 'title.static.how_to_make'
.content-block
  %h2 How to create mods

  %h3
    %abbr(title="Too Long; Didn't Read") TL;DR;
  %ol
    %li Learn to program if you don't know how to program
    %li Learn LUA if you don't know LUA
    %li Follow the tutorial on the Wiki
    %li Read the source of existing mods to learn from them, they are all open source
    %li Write your own mod
    %li Publish to the Factorio Forum
    %li Enjoy both the thankfulness of the community, and the bugs reports

  %h3 Long version

  No, I'm not going to put a full tutorial on how to make mods here. That belongs to the Wiki.

