- title t '.title'

:markdown
  # How to submit mods

  [Register an account here](#{new_user_registration_path}) and then go to [/mods/new](#{new_mod_path}) to
  create a new mod!

  If you submitted a mod to the forum, there is a high chance that the mod it's already here. To claim the mod
  and get the management [send me a PM in the forum to Zequez](http://www.factorioforums.com/forum/ucp.php?i=pm&mode=compose&u=1553)
  and I'll transfer you the management of those mods!
