- title t 'title.static.how_to_make'

:markdown
  ## How to create mods

  Factorio mods are created in the LUA programming language.
  [You can follow the modding tutorial on the Wiki.](http://www.factorioforums.com/wiki/index.php?title=Modding_Tutorial)

  After you create the mod, you should publish it to the [official Factorio mods subforum](http://www.factorioforums.com/forum/viewforum.php?f=14&start=0).

  And it's encouraged to [release the source on Github](http://github.com/)!
  Github also allows you [host zipped releases](https://github.com/blog/1547-release-your-software)!