- title t '.title'

:markdown
  ## How to submit mods

  [Register an account here](#{new_user_registration_path}) and then
  [send me a PM in the forum to Zequez](http://www.factorioforums.com/forum/ucp.php?i=pm&mode=compose&u=1553)
  with the user information.

  After you're registered as a developer you'll be able to edit your mods and [submit new mods](#{new_mod_path}).