.page-wrap
  +relative
  // z-index: 1
  background: $color-black asset-data-url('batthern.png')


// 40.7 is perfect, just leave it.
$gutterSize: ($base-line-height) / ($base-line-height*40.7 / 12) // One rhythm, trust me
// Gutter size is wrong because it's calculated with percentage
$susy: (gutters: $gutterSize*1.25)

.container
  +container(12 $base-line-height*40.7) // Debug
  // +container(12 $base-line-height*40.7)

.flash
  +span(full)
  margin-bottom: rhythm()
  padding: 0 space()
  border-radius: $border-radius
  background-color: $color-blue
  line-height: rhythm(2)
  &:before
    position: relative
    margin-right: space($font-x-larger)
    float: left
    +font-x-larger
  &.alert:before
    +content-icon(exclamation-triangle)
  &.notice:before
    +content-icon(info-circle)
  &.error:before
    +content-icon(times-circle)

.content
  +span(full)
  border-radius: $border-radius
  background: $color-white
  margin-bottom: rhythm()
  padding: space()
  +pie-clearfix
  code
    font-family: monospace
    background: rgba(#000, 0.1)
    border-radius: 2px
    vertical-align: bottom

  // +clearfix

%content-block
  border-radius: $border-radius
  background: $color-white

.content-block
  @extend %content-block
  padding: space()
  +pie-clearfix
