.page-wrap
  +relative
  // z-index: 1
  background: $color-black asset-data-url('batthern.png')


// 40.7 is perfect, just leave it.
$gutterSize: ($base-line-height) / ($base-line-height*40.7 / 12) // One rhythm, trust me
// Gutter size is wrong because it's calculated with percentage
$susy: (gutters: $gutterSize*1.25)

.container
  +container(12 $base-line-height*40.7) // Debug
  // +container(12 $base-line-height*40.7)

.flash
  position: relative
  +span(full)
  margin-bottom: rhythm()
  padding: $base-line-height/2
    left: $base-line-height*2
  border-radius: $border-radius
  background-color: $color-blue
  &:before
    position: absolute
    left: $base-line-height/2
    top: 50%
    margin-top: -$base-line-height
    width: $base-line-height
    text-align: center
    +font-x-larger
  &.alert:before
    +content-icon(exclamation-triangle)
  &.notice:before
    +content-icon(info-circle)
  &.error:before
    +content-icon(times-circle)

.content
  +span(full)
  padding: 0
  margin-bottom: rhythm()
  border-radius: $border-radius
  background: $color-white

  +pie-clearfix

//.content-wide

.content-slim
  +pad(2 2 of 12 no-gutters)
  h1
    text-align: center
    margin: $base-line-height 0

.content-none
  background: none


  // +clearfix

%content-block
  border-radius: $border-radius
  background: $color-white

.content-block
  @extend %content-block
  padding: space()
  +pie-clearfix
