.footer
  :markdown
    &copy; FactorioMods 2014
    - Not affiliated with that [awesome game about automation, Factorio](http://www.factorio.com/ "You can feel the SEO flowing throught this link")
    - Checkout the [Factorio subreddit](http://reddit.com/r/factorio 'Reddit community is best community')
    and the [Factorio forums](http://www.factorioforums.com/forum/)