.footer
  :markdown
    FactorioMods &copy; #{Time.now.year}
    - Not an official [Factorio](http://www.factorio.com/) app
    - [Source code on Github](http://github.com/Zequez/FactorioMods)
    - [Factorio subreddit](http://reddit.com/r/factorio 'Reddit community is best community')
    - [Factorio forums](http://www.factorioforums.com/forum/)