.header
  %h1.logo
    %a{href: '/'}
      Fact
      %i.o-cog<>
        %i.hidden-o<> o
      rio
      M
      %i.o-cog<>
        %i.hidden-o<> o
      ds
  -#.sign-in Login
  .instructions
    %a.instructions-button{href: how_to_install_static_url} How do I install mods?
    %a.instructions-button{href: how_to_make_static_url} How do I <strong>make</strong> mods?