.header
  %h1.logo
    %a{href: '/'}
      Fact<i class="fa fa-cog"></i><span>o</span>ri<i class="fa fa-cog"></i><span>o</span>
      M<i class="fa fa-cog"></i><span>o</span>ds
  .user-session
    - if user_signed_in?
      = link_to current_user.name, user_path(current_user)
      |
      = link_to 'Logout', destroy_user_session_path
    - else
      = link_to 'Login', new_user_session_path
      |
      = link_to 'Register', new_user_registration_path
  .instructions
    .instructions-button
      How do I
      %a{href: how_to_make_static_url}
        %strong make
      \/
      %a{href: how_to_install_static_url}
        %strong install
      \/
      %a{href: how_to_submit_static_url}
        %strong submit
      mods?